body {
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
}

.buttons {
  position: fixed;
  left: 50%;
  top: 0;
  padding-top: 10px;
  transform: translateX(-50%);
  background-color: #fff;
}

.console p {
  margin: 0;
  line-height: 1.5;
  min-height: 1.5em;
}

.console span:not(:last-child) {
  margin-right: 6px;
}

.console table {
  margin: 10px auto;
  border-style: solid;
}

.console th {
  padding-left: 20px;
  padding-right: 20px;
}

.warning {
  color: red;
  font-weight: bold;
}

button {
  padding: 10px 20px;
}

button:not(:last-child) {
  margin-right: 10px;
}
