body {
  /* width: max-content; */
  margin: 0 auto;
  text-align: center;
}

/* p {
  font-size: 24px;
  line-height: 1.5;
  width: 350px;
  margin: 20px auto;
} */

.console {
  height: 18em;
  width: 100%;
  overflow: scroll;
}

.console p {
  margin: 0;
  line-height: 1.5;
}

.console span:not(:last-child) {
  margin-right: 6px;
}

.console table {
  margin: 10px auto;
  border-style: solid;
}

.console th {
  padding-left: 20px;
  padding-right: 20px;
}

.warning {
  color: red;
  font-weight: bold;
}

button {
  padding: 10px 20px;
}

button:not(:last-child) {
  margin-right: 10px;
}
